<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  My details content
</ion-content>