:host{
    background-color: #f8f8f8;
    align-items: center;
}

ion-content {
    // background-image: url("");
    // background-size: cover;
    // text-align: center;
    margin-top: 20px;
    background-color: #f8f8f8;
}

img {
    margin: 10px 0;
    width: 150px;
}

ion-list {
    margin-top: 25px;
    margin-bottom: 0;
}

ion-input {
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: rgb(0,0,0,0.2);
    .native-input {
        margin-left: 20px;
    }
}
