<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Super Box</ion-title>
  </ion-toolbar>
</ion-header>

<img src="assets/img/logo_2.jpg" alt="logo">
<ion-content>
  <form>
    <ion-list lines="full" class="ion-padding">
      <ion-input position="fixed" placeholder="correo" padding></ion-input>
      <ion-input position="fixed" placeholder="Contraseña" padding></ion-input>
    </ion-list>


    <div class="ion-padding">
      <ion-button expand="block" [routerLink]="['/menu/first']" routerLinkActive="router-link-active">Login</ion-button>
      <ion-button expand="block" [routerLink]="['/register']" routerLinkActive="router-link-active" fill="clear">Registrate
      </ion-button>
    </div>
  </form>
</ion-content>