<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <img src="assets/img/logo_2.jpg" alt="logo"> -->
<ion-content>
  <form>
    <ion-list lines="full" class="ion-padding">
      <ion-input position="fixed" placeholder="Nombre" padding></ion-input>
      <ion-input position="fixed" placeholder="Apellido" padding></ion-input>
      <ion-input position="fixed" placeholder="Teléfono" padding></ion-input>
      <ion-input position="fixed" placeholder="Dni" padding></ion-input>
      <ion-input position="fixed" placeholder="Contraseña" type="password" padding></ion-input>
    </ion-list>


    <div class="ion-padding">
      <ion-button expand="block" [routerLink]="['/login']" routerLinkActive="router-link-active">Crear</ion-button>

    </div>
  </form>
</ion-content>