<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Pagina inicial
  <!-- <ion-button expand="block" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward">
    pagina de detalles
  </ion-button> -->
</ion-content>